// Typography
$text-title: 210%;
$text-title-big-size: 300%;
$text-sub-title: 100%;
$text-product-title: 150%;
$text-quote-content: 120%;

// Color
$primary: #6748ee;
$secondary: #adaeb2;
$shadow: rgba(0,0,0,0.16);
$white: #ffff;

// gradient
$color-1: rgba(1,93,199,0.9);
$color-2: rgba(162,0,255,0.9);

// Count down 
$icon-big-size: 500%;
$icon-quote-size: 350%;