section#carousel {
    .carousel {
        &__style {
            height: 80vh;
            width: 100%;
        }

        &__image {
            width: 100%;
            height: 80vh;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;

            &.-image-1 {
                background-image: url('https://esossl-a.akamaihd.net/assets/img/cms/media/56274c7523aff0fa1744819a554d7af4_the-halls-of-the-colossus_wallpaper-1920x1080.jpg');
            }

            &.-image-2 {
                background-image: url('https://www.mercedes-benz.com/content/dam/brandhub/mercedes-benz/mbsocialcar/mbsocialcar-mercedes-amg-gt-r/Mercedes-AMG-GT-R-Wallpaper-01.zip_extracted/01-mercedes-amg-gt-r-c-190-wallpaper-1920x1080.jpg');
            }

            &.-image-3 {
                background-image: url('https://wallpaperplay.com/walls/full/5/5/4/22163.jpg');
            }


        }

    }
}