section#project-complete {

    .project-complete {
        margin-top: 7rem;

        &__sub {
            font-size: $text-sub-title;
            font-weight: bold;

            color: $secondary;
        }

        &__title {
            font-size: $text-title;            
            font-weight: bold;

            color: $primary;
        }
    }

    .list-project {
        margin-top: 4rem;
        &__logo-app {         

            .logo-circle {
                width: 5rem;
                height: auto;
                border-radius: 50%;
                
            }
           
        }

        &__title-app {
            font-size: $text-product-title;
            font-weight: bold;
            margin-top: 1.3rem;
        }

        &__content-app {
            color: $secondary;
            margin-top: 1.3rem;

            text-overflow: ellipsis;
            overflow: hidden;
            // white-space: nowrap;
            height: 4.5rem;


        }
    }
}