section#important-project {
    .title {
        margin-top: 4rem;
        &__main {
            font-size: $text-title;
            color: $primary;
            font-weight: bold;
        }

        &__sub {
            font-size: $text-sub-title;          
        }
    }

    .line-euclid-line {
        margin-top: 2.5rem;
        &__line {
            background-color: $primary;
            width: 5rem;
            height: 2px;
            display: inline-block;
            vertical-align: middle;
        }

        &__euclid {
            background-color: white;
            width: 1.2rem;  
            height: 1.2rem;
            border: 2px solid $primary;
            display: inline-block;
            vertical-align: middle;
            transform: rotate(45deg);
        }
    }

    .product-show-case {
        &__product {           
            background-size: cover;
            background-position: center;
            width: 100%;
            height: auto;
            padding-bottom: 100%;
            &.-product-image-1 {
                background-image: url('https://i.ytimg.com/vi/aN81Np4ZEXk/maxresdefault.jpg');
            }
            &.-product-image-2 {
                background-image: url('https://i.ytimg.com/vi/aN81Np4ZEXk/maxresdefault.jpg');
            }
            &.-product-image-3 {
                background-image: url('https://i.ytimg.com/vi/aN81Np4ZEXk/maxresdefault.jpg');
            }
        }

        &__sub {
            margin-top: 1.7rem;
            font-weight: bold;
            color: $secondary;
        }

        &__title {
            margin-top: 1.1rem;
            font-weight: bolder;
            font-size: $text-title;
            color: $primary;
            line-height: 1.4;

        }

        &__content {
            margin-top: 1rem;
            color: $secondary;
        }

    }
}

